{% extends "users/base.html" %}
{% block title %} Home Page {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.username.title|default:'Guest'}}</h1>
        <p class="lead">
            This is <b>a user portfolio </b> build with django version 4.0 and bootstrap. </p>
        </hr><p>The user can register an account, providing minimal details.</p>
        </hr><p>When the user is logged in they can click on the user icon to see their user profile information in a modal pop up.</p>
        </hr><p>If the user navigates to the profile page they can update their profile details.</p>
        </hr><p>An admin user can head over to http://127.0.0.1:8000/admin/ to manage users and also review login and logout activities.</p>
        </hr><p>The Map option in the tab navigates to the maps page where all registered users will be shown (they're locations).</p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}
                <a class="btn btn-primary btn-lg" href="{% url 'logout' %}" role="button">Logout</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}
