{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS='is-invalid' %}
<form class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">User Profile details</h5>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label class="form-label">Username: {{user.username.title }}</label></br>
      <label class="form-label">Email: {{ user.email.title }}</label></br>
      <label class="form-label">First Name: {{ user.first_name.title }}</label></br>
      <label class="form-label">last Name: {{ user.last_name.title }}</label></br>
      <label class="form-label">Home Address: {{ user.profile.home_address }}</label></br>
      <label class="form-label">Phone Number: {{ user.profile.phone_number }}</label></br>
      <label class="form-label">Latitude: {{ user.profile.latitude }}</label></br>
      <label class="form-label">Longitude: {{ user.profile.longitude }}</label>
    </div>
    
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
      Close
    </button>
  </div>
</form>
{% endwith %}
